{% extends "layout/common.twig" %}

{%  block body %}
    <div>
        SLIDER
    </div>

    <div>
        <a href="/catalog/1/">
            TO SECTION 1
        </a>
        <a href="/catalog/2/">
            TO SECTION 2
        </a>
        <a href="/catalog/3/">
            TO SECTION 3
        </a>
        <a href="/catalog/4/">
            TO SECTION 4
        </a>
    </div>
    <div>
        {{ data }}
    </div>

    <div>
        HOME 33333
    </div>
{% endblock %}

{% block title %}
    HOME PAGE
{% endblock %}
