{% extends "layout/common.twig" %}

{%  block body %}
    <div>
        SLIDER
    </div>

    <div class="section_pale">
    {% for item in section %}
        <div
            class="section_pale_item"
            style="background-image: url('{{ item.preview  }}')"
        >
            <a
                href={{ "/catalog/123/" }}
                class="section_pale_text"
            >
                {{ item.name }}
            </a>
        </div>
    {% endfor %}
    </div>

    <div>
        <a href="/catalog/1/">
            TO SECTION 1
        </a>
        <a href="/catalog/2/">
            TO SECTION 2
        </a>
        <a href="/catalog/3/">
            TO SECTION 3
        </a>
        <a href="/catalog/4/">
            TO SECTION 4
        </a>
    </div>

    <div>
        {{ data }}
    </div>
{% endblock %}

{% block title %}
    HOME PAGE
{% endblock %}
