{% extends "layout/common.twig" %}

{% block body %}
    <div class="section_list">
    {% for item in list %}
        {% include "catalog/product_card.twig" with item %}
    {% endfor %}
    </div>
{%  endblock %}
