{% extends "layout/common.twig" %}

{% block body %}
    <div>
        SECTION {{ slug }}
    </div>

    <div>
        <a href="/product/333">
            TO PRODUCT 333
        </a>
    </div>
{%  endblock %}
