.section_pale {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px;
}

.section_pale_item {
  position: relative;

  background-size: 100% 100%;
  background-position: 0 0;

  height: 0;
  padding-bottom: 100%;
}

.section_pale_text {
  text-decoration: none;
  color: var(--white-color);
  width: 100%;
  height: 100%;

  text-align: center;
  font-weight: 600;
  font-size: calc(6px + 1.5vw);
  line-height: 13px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
}
