.section_tile {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px;
}

.section_tile_item {
  position: relative;

  background-size: 100%;
  background-position: 0;

  height: 0;
  padding-bottom: 100%;
}

.section_tile_text {
  text-decoration: none;
  color: var(--white-color);
  width: 100%;
  height: 100%;

  text-align: center;
  font-weight: 600;
  font-size: calc(6px + 1.5vw);
  line-height: 13px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
}


.slider {
  padding: 16px 20px;
  overflow: scroll;
}

.slider_list {
  display: flex;
  gap: 14px;
}

.slider_item {
  position: relative;
  flex: 0 0 302px;
  height: 165px;
  border-radius: 8px;


  /*background-size: cover;*/
  background-size: contain;

  background-image: url("/img/catalog/market.webp");

  background-color: red;
}

.slider_item_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  position: absolute;
  bottom: 82px;
  left: 17px;

  color: var(--white-color);
  letter-spacing: 1.2208px;
  text-transform: uppercase;
}

.slider_item_button {
  position: absolute;
  bottom: 37px;
  left: 12px;

  width: 147px;
  height: 28px;

  border: 1px solid var(--white-color);
  border-radius: 14px;
  color: var(--white-color);

  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.727273px;
}

.product_bar {

  padding: 12px 0 12px 16px;
}

.product_bar_head {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.product_bar_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
}

.product_bar_list {
  display: flex;
  gap: 10px;

  padding-top: 16px;
  overflow: scroll;
}

/**********************/

.product_card {
  flex: 0 0 160px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(79, 79, 79, 0.15);
  background-color: var(--white-color);

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product_card_image {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1;
  overflow: hidden;
}

.product_card_image  img {
  width: 100%;
  flex: 1;
}

.product_card_data {
  flex: 0 0 69px;
  overflow: hidden;
  padding: 11px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_card_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.product_price_discount {
  text-decoration-line: line-through;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--black-color);
}

.product_price_value {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-color);
}

/**********************/
.product_price {
  display: flex;
  justify-content: space-between;
}

.product_price_buy {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.product_price_button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-color);
  opacity: 0.5;
}

.product_price_list {
  display: flex;
  align-items: center;
  gap: 3px;
}

.section_list {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-gap: 10px;
  justify-content: center;
  padding: 30px 10px;
}
