main {
  background-color: #F6F9FF;
}

.layout {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: var(--main-color);
}

.layout_title {
  display: flex;
  align-items: center;

  padding: 12px 15px;
}

.layout_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  flex: 1;
  color: var(--white-color);
}

.layout_icons {
  flex: 1;

  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
