
* {
  font-family: 'Montserrat', serif;
  box-sizing: border-box;
}

:root {
  --main-color: #33907C;
  --white-color: #FFFFFF;
  --black-color: #4F4F4F;
}

html, body, main {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}


.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Light.eot');
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('/font/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-Light.woff') format('woff'),
  url('/font/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-MediumItalic.eot');
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
  url('/font/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-MediumItalic.woff') format('woff'),
  url('/font/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Thin.eot');
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
  url('/font/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-Thin.woff') format('woff'),
  url('/font/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-ExtraLightItalic.eot');
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
  url('/font/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-ExtraLightItalic.woff') format('woff'),
  url('/font/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-BoldItalic.eot');
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
  url('/font/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-BoldItalic.woff') format('woff'),
  url('/font/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-SemiBold.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('/font/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-SemiBold.woff') format('woff'),
  url('/font/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-ExtraLight.eot');
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
  url('/font/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-ExtraLight.woff') format('woff'),
  url('/font/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-ExtraBoldItalic.eot');
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
  url('/font/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-ExtraBoldItalic.woff') format('woff'),
  url('/font/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Italic.eot');
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
  url('/font/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-Italic.woff') format('woff'),
  url('/font/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Bold.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('/font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-Bold.woff') format('woff'),
  url('/font/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-LightItalic.eot');
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
  url('/font/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-LightItalic.woff') format('woff'),
  url('/font/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-BlackItalic.eot');
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
  url('/font/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-BlackItalic.woff') format('woff'),
  url('/font/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-SemiBoldItalic.eot');
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
  url('/font/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-SemiBoldItalic.woff') format('woff'),
  url('/font/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('/font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-Regular.woff') format('woff'),
  url('/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Medium.eot');
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('/font/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-Medium.woff') format('woff'),
  url('/font/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-ExtraBold.eot');
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
  url('/font/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-ExtraBold.woff') format('woff'),
  url('/font/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Black.eot');
  src: local('Montserrat Black'), local('Montserrat-Black'),
  url('/font/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-Black.woff') format('woff'),
  url('/font/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-ThinItalic.eot');
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
  url('/font/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('/font/Montserrat-ThinItalic.woff') format('woff'),
  url('/font/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
