/**********************************************************************************************************************/

text-field {

}

text-field > label {
    position: relative;
    background-color: #F2F2F2;
    width: 343px;
    height: 64px;
    padding: 29px 20px 15px 20px;
    box-sizing: border-box;

    display: flex;
}

text-field > label > input {
    border: none;
    outline: none;
    background-color: #00000000;

    flex: 1;

    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

text-field > label > span {
    position: absolute;
    left: 20px;
    transition: 125ms;
    top: 22px;

    font-family: 'SF UI Display', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #828282;
}

text-field > label > input:focus + span,
text-field > label > input:not(:placeholder-shown) + span {
    top: 13px;
    font-size: 11px;
}

/**********************************************************************************************************************/

button-big {
    width: 100%;
}

button-big > button {
    border: none;

    height: 40px;
    width: 100%;
    background-color: #FF8C00;
    color: #FFFFFF;

    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

/**********************************************************************************************************************/

registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

registration-form > form {
    flex: 1;


    padding-top: 10px;
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

registration-form .error {
    border: 1px solid #F90000;
    background-color: white;
}

registration-form [data-error] {
    color: #F90000;
    text-align: center;

    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

registration-form > form > .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

registration-form > form .next {
    cursor: pointer;
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #222222;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/**********************************************************************************************************************/

authorization-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

authorization-form > form {
    flex: 1;

    padding-top: 10px;
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

authorization-form > form > .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

authorization-form > form .next {
    cursor: pointer;
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #222222;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
