
.product_card {
  flex: 0 0 160px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(79, 79, 79, 0.15);
  background-color: var(--white-color);

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product_card_image {
  display: flex;

  flex-direction: column;
  justify-content: center;

  flex: 1;
  overflow: hidden;
}

.product_card_image  img {
  width: 100%;
}

.product_card_data {
  flex: 0 0 69px;
  overflow: hidden;
  padding: 11px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_card_name {
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.product_price_discount {
  text-decoration-line: line-through;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--black-color);
}

.product_price_value {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-color);
}
