.product_card {
  display: grid;
  grid-template-areas:
    "photo photo"
    "name name"
    "buy price";
  grid-template-rows: 1fr 36px 26px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 8px;

  height: 200px;
  border-radius: 10px;
  overflow: hidden;

  background-color: var(--white-color);
}

.product_card_image {
  grid-area: photo;

  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1;
  overflow: hidden;
}

.product_card_image img {
  width: 100%;
}

.product_card_name {
  grid-area: name;

  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  align-items: center;
  padding-left: 12px;
}

.product_buy {
  grid-area: buy;

  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;

  padding-left: 12px;
}

.product_price_button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-color);
  opacity: 0.5;
}

.product_price {
  grid-area: price;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  padding-right: 12px;
}

.product_price_discount {
  text-decoration-line: line-through;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--black-color);
}

.product_price_value {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-color);
}
