.product_price {
  display: flex;
  justify-content: space-between;
}

.product_price_buy {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.product_price_button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-color);
  opacity: 0.5;
}

.product_price_list {
  display: flex;
  align-items: center;
  gap: 3px;
}
