include ../components/text-field
include ../components/button-big

authorization-form(data-popup='authorization')
  form
    div(class='forms__input-list')
      +text-field('email', 'email', '', 'Email')
      +text-field('password', 'password', '', 'Password')
    div Already have an account?
      +button-big('login')
