authorization-form
  form
    label(class='forms__input-text')
      input(name='email' type='email' value='user@mail.com')
    label(class='forms__input-text')
      input(name='password' type='password' value='qwerty')
    div Already have an account?

    button(name='submit') login
