authorization-form(data-popup='authorization')
  form
    div(class='forms__input-list')
      label(class='forms__input-text')
        input(name='email' type='email' value='' placeholder=' ' required)
        span(class='forms__input-placeholder') Email

      label(class='forms__input-text')
        input(name='password' type='password' value='' placeholder=' ' required)
        span(class='forms__input-placeholder') Password
  div Already have an account?

    button(name='submit') login
