include ../components/text-field
include ../components/button-big

registration-form(data-popup='registration')
  h1 Sign Up

  form
    div(class='list')
      +text-field('name', 'name', 'user@mail.com', 'Name')
      +text-field('login', 'email', 'user@mail.com', 'Email')
      +text-field('password', 'password', 'qwerty', 'Password')
      +text-field('repeat', 'password', 'qwerty', 'Repeat password')
      div(class='next' data-next) Already have an account?
        img(src='/svg/Arrow-right.svg')

    +button-big('SIGN UP')

  include social
