include ../components/text-field
include ../components/button-big

registration-form(data-popup='registration')
  form
    div(class='forms__input-list')
      +text-field('name', 'name', '', 'Name')
      +text-field('email', 'email', '', 'Email')
      +text-field('password', 'password', '', 'Password')
      +text-field('repeat', 'password', '', 'Repeat password')

    div Already have an account?
    +button-big('SIGN UP')
