
social
  div Or sign up with social account

  div(class="list")
    a(class="item" href="https://google.com")
      img(src="/svg/Google.svg")
    a(class="item" href="https://facebook.com")
      img(src="/svg/Facebook.svg")