
.layout_search {
  padding: 11px 20px 16px;
  display: block;
}

.layout_input {
  display: flex;
  gap: 22px;
  background-color: white;
  border-radius: 23px;
  height: 46px;

  align-items: center;
  padding: 0 23px;
}

.layout_input_text {
  flex: 1;
  border: none;
  outline: none;
  color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.layout_input_text::placeholder {
  opacity: 0.2;
  color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-left: 1px;
}
